@import variables

.content
  height: 100%

footer
  position:        fixed
  display:         flex
  justify-content: center
  align-items:     center
  background:      black
  color:           white
  height:          45px
  width:           100%
  bottom:          0
